{% extends "base-site.html" %}

{% block title %} Forms {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">Report Problem</div>
                <div class="card-body">
                  <form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="type">Type</label>
                      <div class="col-md-9">
                        <select class="form-control" id="type" name="type" required>
                          <option value="">Please select</option>
                          <option value="frontend">User Interface</option>
                          <option value="backend">Functionality</option>
                          <option value="others">Others</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="subject-input">Subject</label>
                      <div class="col-md-9">
                        <input class="form-control" id="subject-input" type="text" name="subject-input" placeholder="Text" required><span class="help-block">Short description of the problem</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="description-input">Description</label>
                      <div class="col-md-9">
                        <textarea class="form-control" id="description-input" name="description-input" rows="9" placeholder="Describe your problem …" required></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="file-multiple-input">Attachments</label>
                      <div class="col-md-9">
                        <input id="file-multiple-input" type="file" name="file-multiple-input" multiple="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                      <div class="col-md-9">
                        <input class="form-control" id="email-input" type="email" name="email-input" placeholder="Enter Email" autocomplete="email"><span class="help-block">optional</span>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                      <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">Feedback</div>
                <div class="card-body">
                  <form class="form-horizontal" action="" method="get">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="feedback-input">Give us feedback</label>
                      <div class="col-md-9">
                        <textarea class="form-control" id="feedback-input" name="feedback-input" rows="9" placeholder="Enter your feedback …" required></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Email</label>
                      <div class="col-md-9">
                        <input class="form-control" id="hf-email" type="email" name="hf-email" placeholder="Enter Email.." autocomplete="email"><span class="help-block">optional, for contacting you</span>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                      <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
