{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">2</div>
                  <div>fields fine</div>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">1</div>
                  <div>fields empty</div>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">1</div>
                  <div>fields needing attention</div>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">2</div>
                  <div>fields to be harvested</div>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h4 class="card-title mb-0">Field</h4>
                <div class="small text-muted">Today</div>
              </div>
            </div>
            <div class="c-chart-wrapper" style="height:600px;margin-top:40px;">
              <img height="600" src="/static/assets/img/samples/crop-planting-3908917.png"/>
            </div>
          </div>
        </div>
        <!-- /.card-->
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
