
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
            <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/harvestair_1.svg" height="70" alt="#wirvsvirus"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/harvestair_icon.svg" height="46" alt="HarvestAIr Logo"></div>
            <ul class="c-sidebar-nav">
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('home_blueprint.index') }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg> Dashboard<span class="badge badge-info">NEW</span></a></li>

              <li class="c-sidebar-nav-divider"></li>
              <li class="c-sidebar-nav-title">Extras</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#}">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-book"></use>
                </svg> Doku</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('home_blueprint.route_template', template='feedback') }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                  </svg> Feedback</a></li>
            </ul>
            <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
          </div>
      